.main{
    margin: auto;
    display: flex;
    color: white;
    justify-content: center;
    width:100%;
    padding: 10px;
    background-color: #808080;
}
.heading{
    margin: 30px;
}
.container-fluid{
    background-color: #3e8caa;
height: 100vh;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
 gap: 30px;

}

